@charset 'utf-8';

/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  font-size: 62.5%;

  /* color */
  --black: #111;
  --black-10p: rgba(17, 17, 17, 0.1);
  --black1: #181818;
  --black2: #333;
  /* --black4: #2f2f2f; */

  --white: #f5f5f5;
  --white-40p: rgba(256, 256, 256, 0.4);

  --gray: #666666;
  --gray1: #aaaaaa;
  --gray2: #cccccc;
  --gray3: #eeeeee;

  --bg: #eff7f7;

  /* point-color */
  --kiki: #fb7668;
  --kiki-20p: rgba(251, 118, 104, 0.2);

  --carola: #b054ff;
  --carola-20p: rgba(176, 84, 255, 0.2);

  --pelli: #00b992;
  --pelli-10p: rgba(0, 185, 146, 0.1);

  --innovation: #773ede;
  --innovation-10p: rgba(119, 62, 222, 0.1);

  --portal: #1f7795;
  --portal-10p: rgba(31, 119, 149, 0.1);
  --portal2: #35dcd2;
  --portal2-10p: rgba(53, 220, 210, 0.1);
}

/* 각 프로젝트 마다의 컬러 클래스*/
.kiki {
  --point-color: var(--kiki);
  --point-color-20p: var(--kiki-20p);
}
.carola {
  --point-color: var(--carola);
  --point-color-20p: var(--carola-20p);
}
.pelli {
  --point-color: var(--pelli);
  --point-color-20p: var(--pelli-10p);
}
.innovation {
  --point-color: var(--innovation);
  --point-color-20p: var(--innovation-10p);
}
.portal {
  --point-color: var(--portal);
  --point-color2: var(--portal2);
  --point-color-20p: var(--portal-10p);
  --point-color2-20p: var(--portal2-10p);
}

.home {
  --point-color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--carola);
}

img {
  max-width: 100%;
}

::selection {
  background: var(--point-color);
  color: var(--white);
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
  background: var(--bg);
}

body {
  font: 1.6rem/1.6 'DM Sans', sans-serif;
  color: var(--black);
  word-break: keep-all;
  letter-spacing: -0.02rem;
  font-weight: 300;

  position: relative;
  background: var(--bg);
}

/* header */
#header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 9rem;

  z-index: 101;
  /* mix-blend-mode: difference;
  -webkit-filter: invert(1) grayscale(0) contrast(1);
  filter: invert(1) grayscale(0) contrast(1); */
  transition: 0.2s;
  /* border: 1px solid #000; */
}

#header.scroll {
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(0deg, rgba(239, 247, 247, 0) 0%, rgba(239, 247, 247, 1) 100%);
}

#header nav {
  width: 79.1667%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background: rgba(255, 0, 0, 0.4); */
}

#header .logo a {
  display: block;
  width: 5rem;
  height: 5rem;
  background: url(../img/logo-black.svg) no-repeat 50% / contain;
}

#header.dark {
  background: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 1) 100%);
}
#header.dark .logo a {
  background: url(../img/logo-white.svg) no-repeat 50% / contain;
}

#header .gnb {
  display: flex;
  /* background: red; */
}

#header .gnb li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;

  height: 10rem;
  /* border: 1px solid #000; */

  font-weight: 600;
  font-size: 2rem;
}
#header .gnb li:hover a {
  color: inherit;
}
#header .gnb li {
  position: relative;
}
#header .gnb li:nth-child(1) a svg {
  position: absolute;
  bottom: 20%;
  left: 10%;
  pointer-events: none;
  user-select: none;
}
#header .gnb li:nth-child(2) a svg {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
}

/* Sub 페이지의 헤더 */
#header.sub .gnb {
  display: none;
}

#container {
  background: var(--bg);
  color: var(--black);
}

/* 다크 모드 공통 적용 스타일 */
/* 다크 모드의 헤더 */

#container.dark {
  background: var(--black);
  color: var(--white);
}

.index.dark {
  background: rgba(24, 24, 24, 0.8);
}
.index.dark strong {
  color: var(--white);
}
.index.dark ul li a {
  color: var(--white);
}

/* 인덱스 스타일 */
.index {
  position: fixed;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  z-index: 200;

  padding: 1.6rem 2rem;
  width: 20rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background: var(--white-40p);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
}

.index ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.index strong {
  font-weight: 600;
  font-size: 2rem;
  color: var(--black1);
}
.index ul li a {
  display: flex;
  padding: 0.4rem 0;
  font-weight: 400;
  opacity: 0.8;
  transition: 0.4s;
  color: var(--black2);
}

.index ul li a::after {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--point-color);
  opacity: 0;
  transition: 0.4s;
}

.index ul li.hover a {
  color: var(--point-color);
}
.index ul li.on a {
  font-weight: 600;
  opacity: 1;
}
.index ul li.on a::after {
  opacity: 1;
}

/* inner */
.inner {
  width: 126.4rem;
  width: 65.8333%;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.05); */
}

.wide-inner,
#header nav {
  width: 152rem;
  width: 79.1667%;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.05); */
}

/* Layout */
.col-3 {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.col-3 li {
  width: 33.3333%;
  /* border: 1px solid #fff; */
}

.mt72 {
  margin-top: 7.2rem;
}
.mt64 {
  margin-top: 6.4rem;
}
.mt52 {
  margin-top: 5.2rem;
}
.mt36 {
  margin-top: 3.6rem;
}
.mt20 {
  margin-top: 2rem;
}
.mt12 {
  margin-top: 1.2rem;
}

/* font-style */
.italic {
  font-style: italic;
  font-weight: 300;
}
/* footer */
#footer {
  padding: 8rem 0 8rem;
  /* border: 1px solid #000; */
  background: var(--bg);
  color: var(--gray);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}
#kst-time,
#footer p {
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
  font-weight: 500;
}
#footer p b {
  color: var(--gray1);
  padding-right: 1.2rem;
}
#kst-time {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
#footer #kst-time::before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  /* border: 1px solid #000; */
  background: url(../img/ico-clock.svg) no-repeat 50% / 96% auto;
}

/* dark mode footer */
#footer.dark {
  background: var(--black);
}
#footer.dark p b {
  color: var(--black2);
}

.btn-top {
  display: block;
  position: relative;

  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  right: 10rem;
  bottom: 10rem;
  position: fixed;
  background: var(--point-color);
  z-index: 200;
  overflow: hidden;
  transition: 0.4s;

  color: var(--white);
}
.btn-top::before {
  content: '\EA76';
  font-family: remixicon;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0%;
  left: 0%;

  width: 8rem;
  height: 8rem;
  transition: 0.4s;
}
.btn-top::after {
  content: '\EA76';
  font-family: remixicon;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 100%;
  left: 0%;

  width: 8rem;
  height: 8rem;
  transition: 0.4s;
}
.btn-top:hover::before {
  top: -100%;
}
.btn-top:hover::after {
  top: 0%;
}

@media (max-width: 1520px) {
  .index {
    display: none;
  }

  .inner {
    width: 90%; /* 964px */
  }

  .wide-inner,
  #header nav {
    width: 152rem;
    width: 79.1667%;
    width: 90%;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.05); */
  }
}
@media (max-width: 1024px) {
  #header .gnb {
    display: none;
  }
}
@media (max-width: 540px) {
  .footer-wrap {
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
  }
}
