.wide-inner {
  /* background: rgba(255, 255, 0, 0.2); */
}

/* section 001 : visual */
#visual {
  height: 100vh;
  /* background: var(--gray3); */
}
#visual > .wide-inner {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#visual .key-visual {
  height: 50vh;
  width: 100%;
  /* border: 1px solid #000; */
}
#visual .introduce h2 {
  font-size: 5.2rem;
  line-height: 1.4;
  font-weight: 400;
}

#visual .introduce h2 b {
  font-weight: 600;
}
.link-wrap ul {
  display: flex;
  margin-top: 4rem;
  gap: 4rem;
}

.link-wrap li a {
  display: flex;
  gap: 2rem;

  font-weight: 300;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.link-wrap li a::after {
  content: '';
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  background: no-repeat 50% / cover;
}
.link-wrap li:hover a {
  text-decoration: underline;
  color: inherit;
}

.link-wrap li.link a::after {
  background-image: url(../img/ico-link.svg);
}

.link-wrap li.download a::after {
  background: no-repeat 50% / cover;
  background-image: url(../img/ico-download.svg);
}

.direction {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}
.direction::before,
.direction::after {
  content: '';
  display: block;
  width: 3.2rem;
  height: 3.6rem;
  background: url(../img/ico-arrow.svg) no-repeat 50% / contain;
}

/* section : selected */
#selected {
  padding: 8rem 0;
  /* border: 1px solid #000; */
}

.sec-title {
  font-weight: 700;
  font-size: 3.2rem;
}

/* section : keyfeatures */
.selected-works-wrap {
  counter-reset: index-count;
}

.selected-works-wrap li {
  counter-increment: index-count;

  transition: 0.4s;
  height: 36rem;
  padding: 3rem 0;
  /* border: 1px solid #000; */
}

.selected-works-wrap li a {
  display: block;
  width: 100%;
  height: 100%;
}

.selected-works-wrap li a .works-info-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 12rem;
  /* border: 1px solid #000; */
}

/* selected project text */
.works-info-wrap .text {
  /* background: red; */
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  /* justify-content: flex-end; */
  justify-content: center;
  /* padding-bottom: 4rem; */
}
.works-info-wrap .text strong {
  color: var(--black);
  font-size: 4rem;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  line-height: 1.4;
  position: relative;
}
.works-info-wrap .text strong::before {
  content: '0' counter(index-count);
  font-size: 4.8rem;
  font-weight: 700;
}
.works-info-wrap .text strong::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--point-color);
}
.works-info-wrap .text .text-title {
}
.works-info-wrap .text .period,
.detail {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray1);
  margin-top: 1.2rem;
}
/* .works-info-wrap .text .detail {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  color: var(--gray);
} */

/* selected project img */
.works-info-wrap .thumbnail {
  /* background: blue; */
  display: flex;
  align-items: center;
}

.works-info-wrap .thumbnail figure {
  width: 52rem;
  /* height: 100%; */
  max-height: 28rem;
  min-width: 38rem;
  width: 25vw;

  border-radius: 0.8rem;
  /* height: rem; */
  overflow: hidden;
  /* border: 1px solid yellow; */
  aspect-ratio: 1/0.726688102893891;
}
.works-info-wrap .thumbnail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected-works-wrap li:not(:first-child) {
  border-top: 1px solid var(--black-10p);
}
