/* section : sub-visual */
#sub-visual figure {
  height: 60rem;
  width: 100%;
  transition: 0.5s;
}

#sub-visual figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#sub-visual ~ section {
  padding: 8rem 0;
  position: relative;
}

#sub-visual ~ section::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 65.8333%;
  background: var(--point-color-20p);

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.dark #sub-visual ~ section::after {
  background: var(--black2);
}

/* section : overview */

#overview .title h2 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
}
#overview .title .period {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}
#overview .summary,
.sec-title + ul,
.sec-title + div {
  margin-top: 4.8rem;
}
#overview strong {
  color: var(--point-color);
  font-weight: 600;
  font-size: 2.4rem;
}

#overview strong + p,
#overview strong + ul {
  margin-top: 1.2rem;
}

#overview p {
  font-size: 1.8rem;
  font-weight: 400;
}
#overview .info {
  margin-top: 5.2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#overview .info > div {
  width: 50%;
  /* border: 1px solid #fff; */
}

#overview .info .team ul {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

#overview .info .team ul li {
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--point-color);
  background: var(--point-color-20p);
  border-radius: 0.8rem;
  color: var(--point-color);
  /* font-size: 1.8rem; */
  font-weight: 500;

  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
#overview .info .team ul li::before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: no-repeat 50%;
}

#overview .info .team ul li.member::before {
  background-color: var(--point-color);
  /* -webkit-mask: url(/img/ico-member.svg) no-repeat center; */
  mask: url(../img/ico-member.svg) no-repeat center;
  /* -webkit-mask-size: contain; */
  mask-size: contain;
}

#overview .info .team ul li.advisor::before {
  background-color: var(--point-color);
  /* -webkit-mask: url(/img/ico-member.svg) no-repeat center; */
  mask: url(../img/ico-advisor.svg) no-repeat center;
  /* -webkit-mask-size: contain; */
  mask-size: contain;
}

/* overview darkmode */
.dark h2 {
  color: var(--white);
}
.dark .title .period {
  color: var(--gray);
}
.dark p {
  color: var(--gray1);
}
h2 {
  color: var(--black);
}
.title .period {
  color: var(--gray);
}
p {
  color: var(--black2);
}

/* section : user-research */
.sec-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--point-color);
}

.process {
  counter-reset: index-count;
}
.process strong {
  font-size: 2rem;
  font-weight: 600;

  display: flex;
  gap: 1.6rem;
  counter-increment: index-count;
}
.process strong::before {
  content: '0' counter(index-count);
}

.process p,
.key-findings p {
  margin-top: 1.2rem;
}

#user-research figure,
#ux-concept figure {
  width: 100%;
}
#user-research figure img,
#ux-concept figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.key-findings strong {
  font-size: 2rem;
  font-weight: 600;
}

/* section : ux-concept */
#ux-concept .carola.logo {
  /* height: 21rem; */
}
#ux-concept .carola.screen {
  /* height: 40rem; */
}

/* section : keyfeatures */
.keyfeatures {
  counter-reset: index-count;
}
.keyfeatures strong {
  font-size: 3.2rem;
  font-weight: 600;

  display: flex;
  gap: 1.6rem;
  counter-increment: index-count;
}

.keyfeatures strong::before {
  content: '0' counter(index-count);
  color: var(--point-color);
}

.keyfeatures li + li {
  margin-top: 7.2rem;
}

.caption {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.2rem;
}
.picwrap {
  display: flex;
  /* flex: 1 0 50%; */
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  /* background: rgba(255, 255, 0, 0.2); */
}
.carola.picwrap .short {
  max-width: 30rem;
}

.carola.picwrap .pic2 div {
  /* border: 1px solid #fff; */
  display: flex;
  gap: 2rem;
}

.carola.pic3 {
  /* border: 1px solid #fff; */
  width: 100%;
  height: 100%;
}
.carola.pic3 video {
  max-width: 82rem;
  display: block;
  margin: 0 auto;
}

.carola.keyf2.picwrap {
  display: flex;
  gap: 2rem;
  /* height: 40rem; */
  /* border: 1px solid #000; */
}

.carola.keyf2.picwrap figure {
  /* height: 100%; */
}

/* Selected Works : 02 pelli */
/* section : problem-definition */
#problem-definition .problem-wrap {
  text-align: center;
}
#problem-definition .problem-wrap strong {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  padding: 2.8rem 12rem;
  background: var(--point-color);
  border-radius: 1.6rem;
  color: var(--white);
  position: relative;
}
#problem-definition .problem-wrap strong::before {
  content: '';
  position: absolute;
  top: 0;
  left: 3%;
  width: 8.9rem;
  height: 6rem;
  background: url(../img/pelli/problem-definition-qm.svg);
}
#problem-definition .problem-wrap p {
  margin-top: 1.6rem;
  font-size: 1.8rem;
}
.key-insight-wrap {
  counter-reset: index-count;
}
.key-insight-wrap .key-insight span {
  font-size: 2rem;
  font-weight: 600;

  display: flex;
  gap: 1.6rem;
  counter-increment: index-count;
}

.key-insight-wrap .key-insight span::before {
  color: var(--point-color);
  content: '0' counter(index-count);
}
.key-insight-wrap .key-insight p {
  padding-left: 3.6rem;
  margin-top: 1.2rem;
}
.key-insight-wrap .key-insight li:not(:first-child) p {
  padding-left: 4rem;
}

/* section : more works */
.work-list-title {
  font-size: 2rem;
  font-weight: 600;
}
.work-list-wrap {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
}
.work-list-wrap li {
  width: 33.3333%;
}
.work-list-wrap li a {
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: var(--black1); */
}
.work-list-wrap .project-thumbnail {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.work-list-wrap li a figure {
  aspect-ratio: 1.777777777777778/1;
  width: 100%;
  background: var(--black1);
  border-radius: 0.8rem;
  overflow: hidden;
  border: 2px solid var(--black);
  transition: 0.4s;
}
.work-list-wrap li a figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s;
}
.work-list-wrap li.active a figure,
.work-list-wrap li:hover a figure {
  border: 2px solid var(--point-color);
}
.work-list-wrap li:hover a figure img {
  transform: scale(1.1);
}
.work-list-wrap .project-thumbnail .title {
  padding: 0 0.8rem;
}

@media (max-width: 1520px) {
  .index {
    display: none;
  }

  .inner {
    width: 90%; /* 964px */
  }

  .wide-inner {
    width: 152rem;
    width: 79.1667%;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 0, 0.05);
  }

  #sub-visual figure {
    height: 50rem;
  }
  #sub-visual ~ section::after {
    width: 100%;
    opacity: 0.4;
  }
}

@media (max-width: 1024px) {
  .col-3 {
    flex-direction: column;
    /* border: 1px solid #000;   */
  }
  .col-3 li {
    width: 100%;
  }

  #sub-visual figure {
    height: 36rem;
  }

  .carola.picwrap,
  .carola.picwrap .pic1 div,
  .carola.picwrap .pic2 div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carola.pic3 video {
    width: 100%;
  }
}

@media (max-width: 840px) {
  #overview .info {
    flex-direction: column;
  }

  #overview .info div {
    width: 100%;
  }

  /* section : work list */
  .work-list-wrap {
    flex-direction: column;
  }
  .work-list-wrap li {
    width: 100%;
  }
  .work-list-wrap .project-thumbnail {
    flex-direction: row;
  }
  .work-list-wrap .project-thumbnail .title {
    padding: 1.2rem;
    flex: 0 0 70%;
  }
}
